:root{
    /*paleta de cores*/
    --snow: #F9FBFE;
    --ice: #D6EAF8;
    --frost: #85C1E9b3;
    --glacier: #2874A6;
    --midnight: #154360;

    /*dark mode*/
    
    --text-color: var(--snow);
    --bg-url: url(./assets/bg-dark-mode.jpg);
    --bg-color: #D6EAF812;
    --bg-color-hover: transparent;
    --stroke-color: var(--glacier);
    --border-color: var(--frost);
    --icon-color: var(--snow);
    --icon-hover: var(--frost);
    --button-color: var(--ice);
    --switch-image: url(./assets/MoonStars.svg);
    --background-box-color: var(--frost);
}

.light{
    --text-color:var(--glacier);
    --bg-url: url(./assets/bg-light-mode.jpg);
    --bg-color:#85C1E912;
    --bg-color-hover: var(--frost);
    --stroke-color: var(--frost);
    --border-color: var(--glacier);
    --icon-color: var(--midnight);
    --icon-hover: var(--ice);
    --button-color: var(--midnight);
    --switch-image: url(./assets/Sun.svg);
    --background-box-color: var(--ice);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    transition: background-image ease 1s;
    overflow-x: hidden;
    overflow-y: hidden;
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-weight: 500;
}

/*snowfall effect*/
@property --y{
  syntax: '<percentage>';
  initial-value: -1%;
  inherits: false;
}

.snowfall::after,
.snowfall::before,
.snowfall{
  position: absolute;
  inset: 0;
  content: '';
  overflow: hidden;
  pointer-events: none;
  z-index: -1;

  background-image: 
    radial-gradient(
      circle at 5% calc(var(--y) * 1),
      #fff 3px, transparent 6px
    ),
    radial-gradient(
      circle at 65% calc(var(--y) * 1.3),
      #fff 2px, transparent 4px
    ),
    radial-gradient(
      circle at 25% calc(var(--y) * 0.8),
      #fff 1px, transparent 5px
    ),
    radial-gradient(
        circle at 80% calc(var(--y) * 0.5),
        #fff 4px, transparent 5px
    )
    ;
}

.snowfall {
  animation: snowfall 20s linear infinite;
  background-size: 65% 100%;
}

.snowfall::before{
  animation: snowfall 27s linear infinite;
  inset: -4rem 0 0;
  opacity: 0.7;
  background-color: 45% 100%;
}

.snowfall::after{
  animation: 
    snowfall 37s linear infinite,
    wind 47s ease-in-out infinite;
  inset: -4rem 0 0;
  opacity: 0.8;
  background-color: 32% 100%;
}

/*container*/
#container{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/*profile*/
#profile{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

#profile img{
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--border-color);
    box-sizing: border-box;
    width: 112px;
    margin: auto;
    display: block;
}

#profile p{
    display: inline-block;
    background-color: var(--background-box-color);
    color: var(--text-color);
    padding: 4px 16px;
    border-radius: 9px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*switch*/
#switch{
    width: 64px;
    position: relative;

    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: var(--button-color) var(--switch-image) no-repeat center;
    border: 0;
    border-radius: 50%;
    gap: 10px;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-out 0.4s;
    transition: outline 0.6s;
}

.light #switch button{
    animation: slide-in 0.4s forwards;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--bg-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.light #switch span{
    background: var(--bg-color-hover);
}

#switch button:hover{
    outline: 8px solid var(--bg-color-hover);
}

/*links*/
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 25px;
}

ul li a{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 16px 24px;

    background: var(--background-box-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.3s;
}

ul li a ion-icon{
    color: var(--icon-color);

    height: 25px;
    width: 25px;

    transition: color 0.3s;
}

ul li a:hover{
    background-color: var(--bg-color-hover);
    border: 1.5px solid var(--background-box-color);

    ion-icon{
        color: var(--icon-hover);
    }
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/*media queries*/
/*@media(min-width: 700px){
    :root{
        --bg-url: url(./assets/bg-dark-mode.jpg);
    }

    .light{
        --bg-url: url(./assets/bg-light-mode.jpg);
    }
}
*/

/*animação*/
@keyframes snowfall {
0% {
    --y: -1%;
  }
  100% {
    --y: 101%;
  }
}

@keyframes wind {
  50% {
    translate: 200px;
  }
}

@keyframes slide-in{
    from{
        left: 0;
    }

    to{
        left: 50%;
    }
}

@keyframes slide-out{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}